@model IEnumerable<BARDSports.Models.CommentsModel>

@{
    ViewBag.Title = "Index";
}

<!--COMMENTS - INDEX PAGE -->

<h2>Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommentsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommentsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentsId })
            </td>
        </tr>
    }

</table>
