@model BARDSports.Models.FootballClubModel

@{
    ViewBag.Title = "Details";
}

<!--FOOTBALL CLUB - DETAILS PAGE -->

<h2>Details</h2>

<div>
    <h4>FootballClubModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.League.LeagueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.LeagueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FootballClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FootballClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cleansheets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cleansheets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draws)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draws)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FootballClubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
